@{
    ViewData["Title"] = "Home Page";
}
<div class="site-blocks-cover" data-aos="fade">
            <div class="container">
              <div class="row">
                    <div class="col-md-6 ml-auto order-md-2 align-self-start">
                          <div class="site-block-cover-content">
                            <h2 class="sub-title">#New Summer Collection 2019</h2>
                            <h1>Arrivals Sales</h1>
                              <p><a href="/shop" class="btn btn-black rounded-0">Shop Now</a></p>
                            </div>
                          </div>
                          <div class="col-md-6 order-1 align-self-end">
                            <img src="~/web/images/model_3.png" alt="Image" class="img-fluid">
                      </div>
                  </div>
                </div>
        </div>      
<div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-8">
            <div class="product-item sm-height full-height bg-gray">
              <a href="/shop" class="product-category">Women <span>25 items</span></a>
              <img src="~/web/images/model_4.png" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height bg-gray mb-4">
                    <a href="/shop" class="product-category">Men <span>25 items</span></a>
              <img src="~/web/images/model_5.png" alt="Image" class="img-fluid">
            </div>

            <div class="product-item sm-height bg-gray">
                    <a href="/shop" class="product-category">Shoes <span>25 items</span></a>
              <img src="~/web/images/model_6.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
</div>
