<div style="display:none">
    @Model Wishlist
</div>
@{
    ViewData["Title"] = "Wishlist";
    ViewBag.total = 0;
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Wishlist</strong></div>
        </div>
    </div>
</div>
@{

    <div class="site-section">
        <div class="container">
        <h1 style="text-align:center;font-weight:bold;color:black">Wishlist</h1>
        <br/>
            <div class="row mb-5">

                @if (Model != null && Model.Items != null && Model.Items.Count > 0)
                {
                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>



                                    @foreach (var item in Model.Items)
                                    {

                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="@item.Product.ImageUrl" alt="Image" class="img-fluid">
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@item.Product.Name</h2>
                                            </td>
                                            <td>$ @item.Product.Price</td>

                                            <td><a href="/Wishlist/RemoveItem/@item.Product.Id" class="btn btn-primary height-auto btn-sm">X</a></td>
                                        </tr>


                                    }


                                </tbody>
                            </table>
                        </div>
                    </form>
                }
                else
                {
                    <h3>Wishlist is empty</h3>
                }
            </div>

        </div>
    </div>
}